<div id="<%= dom_id social_account %>">
  <p>
    <strong>Public url:</strong>
    <%= social_account.public_url %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= social_account.icon %>
  </p>

  <p>
    <strong>Influencers:</strong>
    <%= social_account.influencer_id %>
  </p>

</div>
