<h1>Editing social account</h1>

<%= render "form", social_account: @social_account %>

<br>

<div>
  <%= link_to "Show this social account", @social_account %> |
  <%= link_to "Back to social accounts", social_accounts_path %>
</div>
