<div class="row">
  <div class="col-sm-12">
    <% if user_signed_in? %>
      <%= button_to "Logout as User", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <% elsif influencer_signed_in? %>
      <%= button_to "Logout as Influencer", destroy_influencer_session_path, method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-4">
    <span> Email </span>
  </div>
  
  <div class="col-sm-8">
  </div>

</div>