<% User.all.each do |user|%>
  <div class="row">
    <div class="col-sm-8">
      <%= user.email%>
    </div>
      
    <div class="col-sm-4">
      
    </div>

  </div>  
<% end %>

<%= button_to "Logout", destroy_user_session_path, method: :delete, data: "Are you sure to logout ?" %>